spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:test;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
  sql:
    init:
      data-locations:
        - classpath:carga_sql/script.sql
      mode: always
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true


#        server:
#          port: 8082
#        spring:
#          datasource:
#            driver-class-name: com.mysql.cj.jdbc.Driver
#            url: jdbc:mysql://localhost:3306/pixel_palace
#            username: root
#            password: "123456789"
#          jpa:
#            database-platform: org.hibernate.dialect.MySQL8Dialect
#            hibernate:
#              ddl-auto: update
#            show-sql: true